.block {
    
    padding: 8px;
width: 50%;
}
body, html {
margin: 0;
height: 100%;
}
body {
    display: flex;
    align-items: center;
}
.wide {
    width: 100%;
}
*{box-sizing: border-box;
}
.block div {
    border: 1px solid lightgrey;
    padding: 16px;
border-radius: 5px;
}
.container {
    display: flex;
    flex-wrap: wrap;
    max-width: 1000px;
    margin: auto;
}